body {
    min-height: 100%;
}

.footer-bottom-section {
    padding: 25px 0;
    border-top: 1px solid #484848;
    text-align: center;
    strong {
      color: #fff;
      font-weight: 500;
    }
  }