<div class="dashboard-container">
    <!-- Dashboard Sidebar
	================================================== -->
    <app-sidebar></app-sidebar>
    <!-- Dashboard Sidebar / End -->
    <!-- Dashboard Content
    ================================================== -->
    
    <div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner">
            <div class="row">
            
                
                        <!-- Dashboard Headline -->
                        <div class="single-page-header freelancer-header">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="single-page-header-inner">
                                            <div class="left-side ml-4">
                                                <div class="header-image freelancer-avatar"><img src="http://localhost:8000/images/users/{{actualUser['user']?.image}}"
                                                        alt=""></div>
                                                <div class="header-details">
                                                    <h3>{{actualUser['user']?.name}} {{actualUser['user']?.surname}}
                                                        <span>{{actualUser['user']?.tag}}</span></h3>
                                                    <ul>
                                                        <li>
                                                            <i class="icon-material-outline-location-on like-post"></i>{{actualUser['user']?.city}}
                                                        </li>
                                                        <li>
                                                            <i class="icon-feather-users like-post"></i> Friends ({{actualUser['user']?.following.length}})
                                                        </li>
                                                        <li>
                                                            <a (click)="addFollower()" style="cursor:pointer;"><i class="icon-material-outline-add like-post"></i> Add friend</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-8 col-lg-8">
                                    <!-- Dashboard Box -->
                                    <div class="dashboard-box main-box-in-row">
                                        <div class="headline">
                                            <h3><i class="icon-line-awesome-newspaper-o">
                                                </i> Latest Posts</h3>
                                        </div>
            
                                        <div class="content">
                                            <ul class="dashboard-box-list">
                                                <li *ngFor="let post of actualUser['user']?.post; let i = index;">
                                                    <div class="freelancer-overview manage-candidates">
                                                        <div class="freelancer-overview-inner">
            
                                                            <!-- Avatar -->
                                                            <div class="freelancer-avatar">
                                                                <div class="verified-badge"></div>
                                                                <a href="#"><img src="http://localhost:8000/images/users/{{actualUser['user']?.image}}" alt=""></a>
                                                            </div>
            
                                                            <!-- Name -->
                                                            <div class="freelancer-name">
                                                                <h4><a href="#">{{actualUser['user']?.name}} {{actualUser['user']?.surname}}</a>
                                                                </h4>
            
                                                                <!-- Details -->
                                                                <span class="freelancer-detail-item"><a href="#"><i
                                                                            class="icon-feather-user like-post"></i>
                                                                            {{actualUser['user']?.tag}}</a></span>
                                                                <span class="freelancer-detail-item">
                                                                    <p><i class="icon-material-outline-location-on like-post"></i>{{actualUser['user']?.city}}</p>
                                                                            </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="boxed-list-item">
                                                        <!-- Content -->
                                                        <div class="item-content">
                                                            <p>{{post['text']}}</p>
											                <div class="item-details mt-1">
											                    <img class="mt-2" src="http://localhost:8000/images/posts/{{post['file']}}" width="100%" alt="" srcset="">
                                                            </div>
                                                            <div class="d-flex mb-1 mt-1">
                                                                <div class="p-2">
                                                                    <div class="detail-item"><a style="cursor: pointer" (click)="giveLike(post.id)">
                                                                        <i class="icon-material-outline-thumb-up like-post give-like"></i> {{post['likes'].length}}</a></div>
                                                                </div>
                                                                <div class="p-2">
                                                                    <div class="detail-item"><i class="icon-feather-message-circle like-post"></i> {{post['comments'].length}}</div>
                                                                </div>
                                                                <div class="ml-auto p-2">
                                                                    <div class="detail-item"><i class="icon-feather-clock like-post"></i> {{data[i]}}</div>
                                                                </div>
                                                            </div>

                                                            <!-- Post Comments -->
											<div class="card-footer mt-1">
												<div class="d-flex flex-row bd-highlight mb-3" *ngFor="let comment of post.comments">
													<div class="col-1 p-2">
														<a href="#"><img src="http://localhost:8000/images/users/{{comment.user.image}}" class="profile-img" alt=""></a>
													</div>
													<div class="col-11 p-2" >
														<h4><a href="#">{{comment.user.name}} {{comment.user.surname}}</a></h4>
														<p>{{comment.description}}</p>
													</div>
												</div>
												<input [(ngModel)]="postComment" id="postComment" (keyup)="createComment($event, post['id'])" class="mt-3" placeholder="Enter your comment!">
											</div>
                                                                
                                                        </div>
                                                    </div>
                                                </li>
            
                                            </ul>
                                        </div>
            
                                    </div>
            
            
                                </div>
                                <div class="col-xl-4 col-lg-4">
                                    <div class="sidebar-container">
                                        <div class="dashboard-box main-box-in-row">
                                            <div class="headline">
                                                <h3><i class="icon-feather-user-check">
                                                </i> About Me</h3>
                                            </div>
                
                                            <div class="content">
                                                <ul class="dashboard-box-list">
                                                    <li>
                                                        <div class="boxed-list-item">
                                                            <div class="item-content">
                                                                <p>{{actualUser['user']?.bio}}</p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <a href="http://{{actualUser['user']?.github}}">
                                                            <i class="icon-brand-github"></i>
                                                            {{actualUser['user']?.github}}
                                                        </a>
                                                    </li>
                                                </ul>                                                
                                            </div>
                
                                        </div>
                                        <!-- Widget -->
            
            
                                    </div>
                                
            
                            </div>
                                <!-- Content -->
                                
            
            
            
            

                                
                        </div>
                        <!-- Row / End -->
            
            
            
            
                        <app-footer></app-footer>

                </div>
            
                <!-- Dashboard Content / End -->
            
            </div>
                    