<div id="footer">
	<div class="footer-middle-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-4 col-lg-4 col-md-12">
					<h3>MediaTalk</h3>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus maxime aperiam aspernatur tempore maiores.</p>
				</div>
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>How it Works</h3>
						<ul>
							<li><a href="#"><span>Privacy</span></a></li>
							<li><a href="#"><span>About Us</span></a></li>
							<li><a href="#"><span>FAQs</span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>Support</h3>
						<ul>
							<li><a href="#"><span>Report User</span></a></li>
							<li><a href="#"><span>Recover account</span></a></li>
							<li><a href="#"><span>Contact Us</span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>Helpful Links</h3>
						<ul>
                            <li><a href="#"><span>Terms of Use</span></a></li>
                            <li><a href="#"><span>Work with us</span></a></li>
                            <li><a href="#"><span>More help?</span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-xl-2 col-lg-2 col-md-3">
					<div class="footer-links">
						<h3>Account</h3>
						<ul>
							<li><a routerLink="/sign-in"><span>Sign In</span></a></li>
							<li><a routerLink="/sign-up"><span>Sign Up</span></a></li>
						</ul>
					</div>
        		</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					© 2020 <strong>MediaTalk</strong>. All Rights Reserved.
				</div>
			</div>
		</div>
	</div>
</div>