<div class="dashboard-container">
    <app-sidebar></app-sidebar>
    <div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner">
			<div class="dashboard-headline">
				<h3>My Friends</h3>
            </div>
            <div class="row">
                <div class="col-3">
                    <input id="input-search" class="search_input mt-4" type="text" [(ngModel)]="searchFriends" [ngModelOptions]="{standalone: true}" autocomplete="off" placeholder="Search by name">
                </div>
            </div>
			<div class="row">
                <div class="col-12">
                    <div class="listings-container compact-list-layout margin-top-10" *ngFor="let friend of actualUser['user']['following'] | filter:searchFriends, let i = index;">
                        <a class="job-listing">
                            <div class="job-listing-details">
                                <div class="job-listing-company-logo">
                                    <img src="http://localhost:8000/images/users/{{friend.image}}" alt="">
                                </div>
                                <div class="job-listing-description">
                                    <a style="cursor: pointer;" (click)="goToLoggedUser(i)">
                                        <h3 class="job-listing-title">{{friend.name}} {{friend.surname}}</h3>
                                    </a>
                                <div class="job-listing-footer">
                                    <ul>
                                        <li><i class="icon-feather-user"></i> {{friend.tag}}</li>
                                        <li><i class="icon-material-outline-location-on"></i> {{friend.city}}</li>
                                    </ul>
                                </div>
                            </div>
                            <span class="bookmark-icon"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
		<div class="dashboard-footer-spacer"></div>
		    <app-footer></app-footer>
		</div>
	</div>
</div>