<header id="header" *ngIf="authService.isLogged()">
    <div class="container-fluid">
      <div class="left-side">
        <div id="logo">
          <a class="navbar-brand" routerLink="/">MediaTalk</a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="right-side">
        <div class="header-widget hide-on-mobile">
          <div class="header-notifications">
            <div class="header-notifications-trigger">
              <a href="#"><i class="icon-feather-bell"></i><span>4</span></a>
            </div>
          </div>
          <div class="header-notifications">
            <div class="header-notifications-trigger">
              <a href="#"><i class="icon-feather-mail"></i><span>3</span></a>
            </div>
          </div>
        </div>
        <div class="header-widget">
          <div class="header-notifications user-menu">
            <div class="header-notifications-trigger">
              <a routerLink="/profile"><div class="user-avatar status-online"><img src="http://localhost:8000/images/users/{{actualUser['user']?.image}}" alt=""></div></a>
            </div>
          </div>
        </div>
      </div>
  </div>
</header>