<div class="container">
    <div class="row mh">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 align-self-center">
            <h1 class="mb-3">
                Discover the new way to navigate through social networks
            </h1>
            <p class="mt-2">
                Now you can find everything that interests you in one place. Share content to your contacts with a single click.
                Now you can find everything that interests you in one place. 
            </p>
            <a routerLink="sign-up" class="btn btn-primary mt-4">
                Get started now
            </a>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 align-self-center">
            <img src="../../../assets/img/ilus.png" alt="Ilustracion" width="100%" srcset="">
        </div>
    </div>
  </div>
  <div class="container-fluid sections dark-section" id="how-it-works">
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 text-center">
                <h2 class="mb-3">
                    How It Works?
                </h2>                    
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </p>
            </div>
            <div class="col">
            </div>
          </div>
        <div class="row mt-5">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center">
                <img class="icons mb-3" src="../../../assets/img/news.svg" width="50%" alt="" srcset="">
                <h3 class="mt-3 works-title">
                    Lastest News
                </h3>
                <p class="mt-1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center">
                <img class="icons mb-3" src="../../../assets/img/yt.svg" width="50%" alt="" srcset="">
                <h3 class="mt-3 works-title">
                    Trending Videos
                </h3>
                <p class="mt-1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center">
                <img class="icons mb-3" src="../../../assets/img/weather.svg" width="50%" alt="" srcset="">
                <h3 class="mt-3 works-title">
                    Local Weather
                </h3>
                <p class="mt-1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
        
    </div>
  </div>
  <div class="container sections">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 align-self-center">
            <h3 class="mb-3">
               Share content with your friends
            </h3>
            <p class="mb-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
            </p>
            <a class="link" routerLink="/sign-up">Register now and make your first post <i class="fas fa-arrow-right"></i></a>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 align-self-center">
            <img src="../../../assets/img/masonry.png" alt="Ilustracion" width="100%" srcset="">
        </div>
    </div>
  </div>
  
  <div class="container-fluid sections dark-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 align-self-center">
                <img src="../../../assets/img/profiles.png" alt="Ilustracion" width="100%" srcset="">
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 align-self-center">
                <h3 class="mb-3">
                    Lorem ipsum dolor sit amet consectetur
                </h3>
                <p class="mb-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                </p>
                <a class="link" routerLink="/sign-up">Register now and make your first post <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
  </div>
  
  <div class="container-fluid center-block">
    <div class="text-center mt-5">
        <h2 class="mb-3">
            Are you ready to grow your Network?
        </h2>                    
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </p>
        <a routerLink="/sign-up" class="btn btn-primary button-cta mt-3 mb-5">Get started now</a>
    </div>
  </div>
  <app-guest-footer></app-guest-footer>