<div class="container vh">
    <div class="row">
        <div class="col-5">
          <img src="../../../../assets/asd.png" width="100%" alt="">
        </div>
        <div class="col-7 align-self-center">
                
            <div class="row justify-content-center">
              <div class="col-8">
              <h2>Sign up to <strong>MediaTalk</strong></h2>
              <p class="mt-4">Already a member? <a href="/sign-in.html">Sign In</a></p>
              <form #registerForm="ngForm" (ngSubmit)="onRegister()">
                  <div class="form-group">
                    <label for="inputName">Name</label>
                    <input class="form-control"
                      [(ngModel)]="name"
                      name="username"
                      pattern="[a-zA-Z0-9]{2,30}"
                      required="required"
                      placeholder="" />
                  </div>
                <div class="form-group">
                  <label for="inputEmail">Email</label>
                  <input type="email" class="form-control"
                    [(ngModel)]="email"
                    name="email"
                    pattern="^\S+@\S+$"
                    required="required"
                    placeholder="" />
                </div>
                <div class="form-group">
                  <label for="inputPassword">Password</label>
                  <input type="password" class="form-control"
                    [(ngModel)]="password"
                    name="password"
                    required="required"
                    pattern=".{6,30}"
                    type="password"
                    placeholder="6+ characters" />
                    <div *ngIf="warningMessage">
                      {{warningMessage}}
                   </div>
                </div>
                <button type="submit" class="btn btn-primary">Create Account</button>
              </form>
            </div>
          </div>
        </div>
    </div>
  </div>